1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a list and substitute Mickey with Donald and Mouse with Duck

In [1]:
for number in range(1, 101):
    # the order of the if statements matter
    if number % 3 == 0 and number % 5 == 0:
        print("MickeyMouse")
        continue
    elif number % 3 == 0:
        print("Mickey")
        continue
    elif number % 5 == 0:
        print("Mouse")
        continue    
    else:
        print(number)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [4]:
mylist = []
for number in range(1, 101):
    # the order of the if statements matter
    #The firdt print statment is only for showing that that list gets filled correctely
    if number % 3 == 0 and number % 5 == 0:
        mylist.append("MickeyMouse")
    elif number % 3 == 0:
        mylist.append("Mickey")
    elif number % 5 == 0:
        mylist.append("Mouse")
    else:
        mylist.append(number)

mylist2 = mylist
mylist2 = ['Donald' if item == 'Mickey' else item for item in mylist2]
mylist2 = ['Duck' if item == 'Mouse' else item for item in mylist2]
mylist2 = ['DonaldDuck' if item == 'MickeyMouse' else item for item in mylist2]
print(f"The original list is:\n {mylist}")
print(f"The modified list is:\n {mylist2}")

The original list is:
 [1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']
The modified list is:
 [1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [19]:
x = 1
y = 2
def swap(a, b):
    a, b = b, a
    return a, b


x, y = swap(x, y)
print(x)
print(y)

2
1

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
import math
from collections import namedtuple

try:
    point_1_x = float(input("Type the x of the first point: "))
    point_1_y = float(input("Type the y of the first point: "))
    point_2_x = float(input("Type the x of the second point: "))
    point_2_y = float(input("Type the y of the second point: "))
    Point = namedtuple("Point", "x, y")
    point_1 = Point(point_1_x, point_1_y)
    point_2 = Point(point_2_x, point_2_y)
    def euclidean_distance(first_point, second_point):
        distance = math.sqrt((first_point.x-second_point.x)**2+(first_point.y-second_point.y)**2)
        return distance

    print(f"The euclidean distance between {point_1} and {point_2} is {euclidean_distance(point_1, point_2)}")
except ValueError:
    print("You must type a number")

Type the x of the first point: 3
Type the y of the first point: 0
Type the x of the second point: 0
Type the y of the second point: 4
The euclidean distance between Point(x=3.0, y=0.0) and Point(x=0.0, y=4.0) is 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [5]:
my_string = input("Type your string: ")
occurrences = dict()
for letters in my_string:
    if letters.lower() in occurrences:
        occurrences[letters.lower()] += 1
    #if we don't wanna count the space
    #if letters.lower() == " ":
    #   pass
    else:
        occurrences[letters.lower()] = 1
print("The occurances of every character are:\n ", occurrences)

Type your string: Write a program that prints the numbers from 1 to 100. \ But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \ For numbers which are multiples of both three and five print MickeyMouse
The occurances of every character are:
  {'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 43, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, '\\': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [2]:
my_list = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
  1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
  45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
uniques = []
for item in set(my_list):
    if my_list.count(item) == 1:
        uniques.append(item)
print(f"The list of uniques is: \n{uniques}")
print(f"There are {len(uniques)} unique numbers in the list")

The list of uniques is:
[1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]
There are 37 unique numbers in the list

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [5]:
number = int(input("Type your number: "))
def square(number1):
    return number1*number1


def cube(number2):
    return number2**3


def sixth_power(number3):
    return cube(square(number3))


print(f"The second power of {number} is {square(number)}")
print(f"The third power of {number} is {cube(number)}")
print(f"The sixth power of {number} is {sixth_power(number)}")

Type your number: 2
The second power of 2 is 4
The third power of 2 is 8
The sixth power of 2 is 64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [16]:
cubes = []
for x in range(0,11):
    cubes.append(x**3)
    
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [17]:
list_of_cubes = [number**3 for number in range(0, 11)]
print(list_of_cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [8]:
# Theinstruction on b greater than a is to excludedouble counting, for example (3, 4, 5)and
# (4, 3, 5)
triples = [(a, b, c) for a in range(1, 100) for b in range(1, 100) for c in range(1, 100)
if a**2 + b**2 == c**2 and b >=a]
print(f"The Pythagorean triples are:\n{triples}")

The Pythagorean triples are:
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [10]:
import math


try:
    def normalization(tuples):
        prefactor = 0
        for number in tuples:
            prefactor += number**2   
        mytuple = tuple(x/math.sqrt(prefactor) for x in tuples)
        return mytuple

    print("The normalized vector is: ", normalization((3, 4, 5)))
except ZeroDivisionError:
        print("Cannot normalize this vector")

The normalized vector is:  (0.4242640687119285, 0.565685424949238, 0.7071067811865475)